/*
 Theme Name:     Divi General Child Theme
 Theme URI:      https://gitlab.com/thomas-roeder/divi-general-child-theme
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     Thomas Roeder
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */


/** 
Main Menue Navigation css modifications
*/



/** 
  sidebar Product filter Sidebar css modfications 
*/
.template-filter-sidebar li{
  display: block !important;
}

/** 
virtual centered column 
*/
.virtual-centered-column , .virtual-centered-element{
  margin: auto !important;
}
/** 
Product Gallery Themes Detail 
*/
#prodgal .flex-viewport{
  height: 500px !important;
overflow: hidden !important;
  background-color: white !important;
}

/** 
check list 
*/

.check-list li {
  list-style: none !important;
}

.check-list  span {
  color: #fcd21d !important;
  font-size: 24px !important;
  margin-right:10px;
  font-weight: 500;
}

.icon_list  span {
  font-size: 24px !important;
  margin-right:10px;
  font-weight: 500;
}

.icon_list_yellow  span {
  color: #fcd21d !important;
}

.icon_list_green  span {
  color: #2abd49 !important;
}

/** 
Full Height Slider 
*/

.full_height_slider , 
.full_height_slider > .et_pb_slides , 
.full_height_slider > .et_pb_slides > .et_pb_slide   {
  height: 100% !important;
min-height: 100% !important;
}

.full-height-section {
height: calc(100vh - 0px) !important;
} 