
.pricing-table-box {
	background-color:transparent;
  	padding: 0px;
  	margin: 0px;
  	margin-top: 10px;
	width: 100%;
	border: none !important;
}
.pricing-table-box tr {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #dedede ;
}

.pricing-table-box td {
  padding: 0px 10px 0px 10px;
  border-left: 1px solid #dedede;
	background-color:#F9F9F9;
}

.pricing-table-box tr:first-child {
	border-left: solid 0px white !important;
}
.pricing-table-box tr:first-child td{
	background-color: white;
	padding:0px!important;
}

.pricing-table-box tr:first-child td:first-child {
	padding:0px !important;
	background-color: transparent!important;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #dedede ;
}


.pricing-table-box tr.pricing-table-box-list:hover {
  background-color: white;
}

.pricing-table-box .pricing-table-box-list td {
  padding: 10px 20px;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}

.pricing-table-box .pricing-table-box-list .green {
	font-weight: bold;
  	color:#4BB543;
}

.pricing-table-box .pricing-table-box-list td.list-titel{
  	text-align: left;
  	border-left: 0px;
  	font-size: 14px;
  	color: black;
}

.pricing-table-box .pricing-table-box-text h2 {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #8a8a8a;
}
.pricing-table-box .pricing-table-box-text p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #e02b20;
  margin-top: 10px;
}
.pricing-table-box .pricing-table-box-item {
  color: #FFF;
}

.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head {
  padding: 10px 5px;
  text-align: center;
	border-top: solid 5px white ;
  
  box-shadow: 0 -2px rgba(0, 0, 0, .1) inset;
  -moz-box-shadow: 0 -2px rgba(0, 0, 0, .1) inset;
  -webkit-box-shadow: 0 -2px rgba(0, 0, 0, .1) inset;
  -o-box-shadow: 0 -2px rgba(0, 0, 0, .1) inset;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head p{
  color:#e02b20;
}
.pricing-table-box .pricing-table-box-item .featured {
	border-top: solid 5px #e02b20 !important;
	background-color: #e02b20;
}
.pricing-table-box .pricing-table-box-item .featured p{
	color: white;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head p {
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price {
  padding: 15px 10px;
  text-align: center;
  color: black;
  background: #F9F9F9;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price p {
  font-size: 31px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 0px;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price p span {
  font-size: 14px;
  font-weight: 500;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price > span {
  font-size: 12px;
  font-weight: 400;
  color: #009AD7
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-purchase {
  padding: 10px 5px;
  background: #FFF;
}
.pricing-table-box-item-purchase .btn {
	color: black;
  	text-transform: uppercase;
	font-weight: bold;
  	margin-bottom: 0px;
  	background-color: transparent;
  	border: solid 2px black;
	border-radius: 20px;
  	padding: 11px 20px;
}
.pricing-table-box-item-purchase .btn:hover {
  background-color: black;
	color: white;
	cursor: pointer;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  color: inherit!important;
  background-color: inherit!important;
  border-color: inherit!important;
}
/* Color Version 2*/
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-head.color2 {
  background-color: #f6653c!important;
}
.pricing-table-box-item-purchase .btn.color2 {
  background-color: #f6653c!important;
}
.pricing-table-box .pricing-table-box-item .pricing-table-box-item-price.color2 {
  color: #f6653c!important;
}





.pricing-table-box .section-header td{
	background-color: black;
	padding: 10px 20px;
	text-align: left;
	font-weight: bold;
	color: white;
}
.pricing-table-box-list .et-pb-icon{
	font-size: 20px;
}

.pricing-table-box td.no-border-left {
  border-left: none !important;
}

.btn-section{
		background-color: #dedede;
}
.btn-section td{
	padding:20px!important;
		text-align:center;
}
